.modalImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.modal {
    position: absolute;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    outline: none;
    max-height: 90vh;
}